<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather right now !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href=" {% static "application_pyowm/bootstrap.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
    <link href=" {% static "application_pyowm/custom.min.css"%}>">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>

    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
</head>

<body>
 <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/city_forecast/" class="navbar-brand">Погода в городе </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">В Украине <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{% url 'forecast' city="Severodonetsk" %}">Северодонецк</a></li>
                <li class="divider"></li>
                <li><a href="../">Киев</a></li>
                <li><a href="../">Харьков</a></li>
                <li><a href="../">Днепр</a></li>
                <li><a href="../">Львов</a></li>
                <li><a href="../">Одесса</a></li>
              </ul>
            </li>

              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">В Европе <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/barca/">Барселона</a></li>
                <li class="divider"></li>
                <li><a href="../">Лондон</a></li>
                <li><a href="../">Мадрид</a></li>
                <li><a href="../">Париж</a></li>
                <li><a href="../">Берлин</a></li>
                <li><a href="../">Лиссабон</a></li>
              </ul>
            <li>
              <a href="future_fc/">На завтра </a>
            </li>
            <li>
              <a href="coords/">В координатах </a>
            </li>
            <li>
              <a href="https://pypi.python.org/pypi/pyowm/2.0.0">О модуле</a>
            </li>
            <li>
              <a href="https://openweathermap.org">О сайте пронозов</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" target="_blank">На главную</a></li>
          </ul>

        </div>
      </div>
    </div>

<form action="/city_forecast/" class="btn btn-default navbar-btn" id="forma" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="Введите город ">Поиск </label>
    <input type="submit" value="Submit" name="Введите город: " maxlength="50"/>

</form>
<form action="/city_forecast/">
    <button class="btn btn-default navbar-btn" id="redir" type="submit">Другой город </button>
</form>
<div class="result">
       <hr>Погода в городе {{ city }} сейчас: <br>
            {{type}}
       <hr>
       Статус: {{data.status}}<br>
       Температура сейчас : {{data.temperature_celsius.temp_max }} °C<br>
       Ветер : {{data.wind.speed}} м/с<br>
       Давление : {{data.pressure.press}}<br>
       Облачность : {{data.status}}<br>
       Влажность : {{data.humidity}} %<br>
       Детальный статус : {{data.detailed_status}} <br>
       Время рассвета : {{data.sunrise_time}} <br>
       Время заката : {{data.sunset_time }} <br>
       Широта : {{ cords_lon }} <br>
       Долгота : {{ cords_lat }} <br>
</div>
    {% if time.minute < 10 %}
        <h4 class="date_c">{{ time.hour }} : 0{{ time.minute }}<br>
        {{ time.day }}-{{ time.month }}-{{ time.year}}</h4>
    {% else %}
    <h4 class="date_c">{{ time.hour }} : {{ time.minute }}<br>
        {{ time.day }}-{{ time.month }}-{{ time.year}}</h4>
    {% endif %}
</body>
</html>