{% extends "application_pyowm/base.html" %}
{% block form_c %}
    <form action="/city_forecast/" class="btn btn-default navbar-btn" id="forma" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="Введите город ">Поиск </label>
    <input type="submit" value="Submit" name="Введите город: " maxlength="50"/>
    </form>
    <form action="/city_forecast/">
    <button class="btn btn-default navbar-btn" id="redir" type="submit">Другой город </button>
    </form>
{% endblock form_c %}
    {% block any_city %}
       <div class="result">
       <hr>Погода в городе {{ city }} сейчас: <br>
            {{type}}
       <hr>
       Статус: {{data.status}}<br>
       Температура сейчас : {{data.temperature_celsius.temp_max }} °C<br>
       Ветер : {{data.wind.speed}} м/с<br>
       Давление : {{data.pressure.press}}<br>
       Облачность : {{data.status}}<br>
       Влажность : {{data.humidity}} %<br>
       Детальный статус : {{data.detailed_status}} <br>
       Время рассвета : {{data.sunrise_time}} <br>
       Время заката : {{data.sunset_time }} <br>
       Широта : {{ cords_lon }} <br>
       Долгота : {{ cords_lat }} <br>
       </div>
{% endblock any_city %}
