{% extends 'application_pyowm/base.html' %}
{% block form_coords %}
<form method="post" action="/coords/" class="btn btn-default navbar-btn" id="forma">
    {% csrf_token %}
    {{ form.long }}
    {{ form.lat }}
<input type="submit" value="GO" />
</form>
<form action="/coords/">
    <button class="btn btn-default navbar-btn" id="redir" type="submit">Другие координаты </button>
</form>
{% endblock form_coords %}
{% block result_coords %}
<div class="result">
       <hr>Погода в координатах {{ long }} - {{ lat }} сейчас : <br>
            {{type}}
       <hr>
       Статус: {{status}}<br>
       Температура : {{ temp.temp_max }} °C<br>
       Влажность : {{ humidity }} %<br>
       Ветер : {{wind.speed }} м/с<br>
       Давление : {{press.press}}<br>
       Время рассвета : {{sr}}<br>
       Время заката : {{sn}}<br>
</div>
{% endblock result_coords %}
